<h1>All Blocmarks</h1>
<div>
  <%= link_to "New Topic", new_topic_path, class: "btn btn-success" %>
</div>
<div class="row">
  <div class="col-md-12">
    <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
        </h4>
          <% topic.bookmarks.each do |link| %>
          <ul>
            <li class="well">
              <div>
                <%= render partial: 'likes/like', locals: { bookmark: link } %>
                <%= link_to image_tag(display("http://#{link.url}"), class: "favicon"), topic_bookmark_path(link.topic, link) %>
                <%= link_to title("#{link.url}"), topic_bookmark_path(link.topic, link) %>
              </div>
            </li>
          </ul>
            <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
