<h1>All Blocmarks</h1>
<div>
  <%= link_to "New Topic", new_topic_path, class: "btn btn-success" %>
</div>
<div class="row">
  <div class="col-md-12">
    <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %> |
          <small>
            <%= link_to "Delete Topic", topic, method: :delete, data: { confirm: 'Are you sure you want to delete this topic?'} %>
          </small>
        </h4>
          <% topic.bookmarks.each do |link| %>
          <ul>
            <li class="thumbnail">
              <%= link_to image_tag(display("http://#{link.url}"), class: "favicon"), topic_bookmark_path(link.topic, link) %>
              <%= link_to title("#{link.url}"), topic_bookmark_path(link.topic, link) %>
              <%= render partial: 'likes/like', locals: { bookmark: link } %>
              <div>
                  <% if policy(link).edit? %>
                  <%= link_to "Edit Bookmark", edit_topic_bookmark_path(link.topic, link), class: "btn btn-warning btn-xs" %>
                <% end %>
                  <% if policy(link).destroy? %>
                  <%= link_to "Delete Bookmark", [link.topic, link], method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'Are you sure you want to delete this bookmark?'} %>
                <% end %>
              </div>
            </li>
          </ul>
            <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
