<h1><%= (@topic.title) %>
  <small>
     <%= link_to "Edit", edit_topic_path, class: "btn btn-warning btn-sm" %>
     <%= link_to "Delete Topic", @topic, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure you want to delete this topic?'} %>
     <%= link_to "Back", topics_path, class: "btn btn-primary btn-sm" %>
     <%= link_to "New Blocmark", new_topic_bookmark_path(@topic), class: "btn btn-success pull-right" %>
   </small>
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <% @topic.bookmarks.each do |link| %>
        <ul>
          <li class="well">
            <%= render partial: 'likes/like', locals: { bookmark: link } %>
            <%= link_to image_tag(display("http://#{link.url}"), class: "favicon"), topic_bookmark_path(link.topic, link)  %>
            <%= link_to title("#{link.url}"), topic_bookmark_path(link.topic, link) %>
          </li>
          </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>
