<div class="row">
  <div class="col-md-8">
    <div class="media">
      <h2>My Blocmarks</h2>
      <div class="media-body">
        <% @user_bookmarks.group_by(&:topic).each do |topic, bookmark| %>
        <h4 class="media-heading">
          <%= link_to topic.title, topic_path(topic) %>
        </h4>
          <ul><% bookmark.each do |x| %>
            <li class="thumbnail">
               <%= link_to x.url, topic_bookmark_path(x.topic_id, x.id) %>
              <%= render partial: 'likes/like', locals: { bookmark: x } %> <% end %>
            </li>
          </ul>
          <% end %>
      </div>
      <h2>My Likes</h2>
      <div class="media-body">
        <% @liked_bookmarks.group_by(&:topic).each do |topic, bookmark| %>
        <h4 class="media-heading">
          <%= link_to topic.title, topic_path(topic) %>
        </h4>
          <ul><% bookmark.each do |x| %>
            <li class="thumbnail">
              <%= link_to x.url, topic_bookmark_path(topic, x) %>
              <%= render partial: 'likes/like', locals: { bookmark: x } %><% end %>
            </li>
          </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>
