<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
  <%= render 'layouts/messages' %>
  <ul class ="nav nav-tabs">
    <li><%= link_to "Blocmarks", root_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
    <li class="pull-right">
      <% if user_signed_in? %>
       Signed in as: <strong><%= current_user.email %></strong>
       <% end %>
     </li>
    <li role="presentation" class="dropdown pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Menu<span class="caret"></span>
      </a>
    <ul class="dropdown-menu">
      <% if user_signed_in? %>
      <li><%= link_to "My Blocmarks", root_path %></li>
      <li><%= link_to "All Blocmarks", topics_path %></li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path  %><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </li>
  </ul>
<%= yield %>
</div>
</body>
</html>
